<section>
    <div id=space></div>
    <div class="col-md-10">
    <span id="articleH" class="d-block p-2 w3-red text-white text-monospace text-center" ><h3>Videos On Arduino</h3></span>
      <hr>
      
    <div class="row row-cols-1 row-cols-md-2">
      
<div class="col mb-4">
  <div class="card w3-pale-red" >
    <iframe src="https://www.youtube.com/embed/waOk9VtkCqw" frameborder="0" style="height:300px;" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">What is Arduino?</h5>
      <p class="card-text">What is Arduino?  This video explains what an Arduino is if you have no idea.  I hope it helps!  Keep in mind there is a lot more behind the Arduino "Movement" than just the Arduino board - it is really a community of people that has made it awesome.</p>
    </div>
  </div>
</div>
<div class="col mb-4">
  <div class="card w3-pale-red">
  <iframe src="https://www.youtube.com/embed/1F0trDGSAQE" frameborder="0" style="height:300px;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">Arduino Projects? Arduino Vs Raspberry Pi?</h5>
      <p class="card-text">Namaskaar Dosto, is video mein maine aapse Arduino ke baare mein baat ki hai, aap mein se bahut se users ne pucha hai ki Arduino kya hota hai? Arduino Projects kya hote hai? Arduino aur Raspberry Pi mein kya difference hai. Maine aapse is video mein inhi sab ke baare mein baat ki hai. Mujhe umeed hai ki aapko Arduino ke baare mein yeh video pasand aayega. </p>
    </div>
  </div>
</div>
<div class="col mb-4">
  <div class="card w3-pale-red">
  <iframe src="https://www.youtube.com/embed/_P6CJgdcl3U" frameborder="0" style="height:300px;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">Interface Arduino through Android Smartphone</h5>
      <p class="card-text">Want to send text to an Arduino with an Android smartphone? Here's how! This video will show how an Arduino (or almost any other microcontroller) can "talk" with your smartphone, sending and receiving text in both directions.</p>
    </div>
  </div>
</div>
<div class="col mb-4">
  <div class="card w3-pale-red">
  <iframe src="https://www.youtube.com/embed/SvDT_PzgEoE" frameborder="0" style="height:300px;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">3 Creative ideas from Arduino</h5>
      <p class="card-text">This video consists of DIY projects using Arduino.</p>
    </div>
  </div>
</div>
</div>
<span id="articleH" class="d-block p-2 w3-red text-white text-monospace text-center" ><h3>Videos On PIC Microcontroller</h3></span>
      <hr>
    <div class="row row-cols-1 row-cols-md-2">
<div class="col mb-4">
  <div class="card w3-pale-red">
  <iframe src="https://www.youtube.com/embed/aMtPc-wNgyI" frameborder="0" style="height:300px;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">An Introduction to PIC Microcontroller</h5>
      <p class="card-text">This video is about PIC Microcontroller comparison,  architecture, and memory organization</p>
    </div>
  </div>
</div>
<div class="col mb-4">
  <div class="card w3-pale-red">
  <iframe src="https://www.youtube.com/embed/jxIejwggnP8" frameborder="0" style="height:300px;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">Difference between Arduino and PIC microcontrollers</h5>
      <p class="card-text">A short discussion about the difference between Arduino and PIC microcontrollers. It goes into the main difference between them and why should you use PIC MCUs not just Arduino.</p>
    </div>
  </div>
</div>
<div class="col mb-4">
  <div class="card w3-pale-red">
  <iframe src="https://www.youtube.com/embed/J1MKPazVYWE" frameborder="0"style="height:300px;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">The PIC Microcontroller Family & Member</h5>
      <p class="card-text">This video is about PIC Microcontroller and its various Family Members.</p>
    </div>
  </div>
</div>
<div class="col mb-4">
  <div class="card w3-pale-red">
  <iframe src="https://www.youtube.com/embed/CSCDfCr5kDo" frameborder="0" style="height:300px;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div class="card-body">
      <h5 class="card-title">Setting up the PIC Microcontroller</h5>
      <p class="card-text">In this demonstration, we'll show you how to buzz right though the Setup when it comes to setting up PIC Microcontrollers.  The rest is easy!</p>
    </div>
  </div>
</div>
</div>


</div>
    </section>
