<div id="space">
</div>
<section class=" col-md-10">

<a routerLink="/article" class="text-decoration-none"><span id="articleH" class="d-block p-2 w3-red text-white text-monospace text-center" ><h3>Article on Arduino</h3></span></a>
  <hr>
  <div class="container-fluid">
  <div class="row">
  <div class="col-md-6 col-sm-6 col-lg-6 col-12">
    <article class="para w3-pale-red">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">What is Arduino ?</h2><hr>
          <h5>This article is on basic of Arduino</h5>
          <p class="card-text">Arduino is an open-source electronics platform based on easy-to-use hardware and software. Arduino boards are able to read inputs - light on a sensor, a finger on a button, or a Twitter message - and turn it into an output - activating a motor, turning on an LED, publishing something online. You can tell your board what to do by sending a set of instructions to the microcontroller on the board. To do so you use the Arduino programming language (based on Wiring), and the Arduino Software (IDE), based on Processing.</p>
          <a href="https://www.arduino.cc/en/guide/introduction" class="btn w3-red">Read More.</a>
        </div>
      </div>
</article>
</div>
<div class="col-md-6 col-sm-6 col-lg-6 col-12">
  <article class="para w3-pale-red">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Why Arduino ?</h2><hr>
        <h5>This article is on basic of Arduino ?</h5>
        <p class="card-text">Thanks to its simple and accessible user experience, Arduino has been used in thousands of different projects and applications. The Arduino software is easy-to-use for beginners, yet flexible enough for advanced users. It runs on Mac, Windows, and Linux. Teachers and students use it to build low cost scientific instruments, to prove chemistry and physics principles, or to get started with programming and robotics.</p>
        <a href="https://www.arduino.cc/en/guide/introduction" class="btn w3-red">Read More.</a>
      </div>
    </div>
</article>
</div>
<div class="col-md-6 col-sm-6 col-lg-6 col-12">
  <article class="para w3-pale-red">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Can the Arduino Uno R3 be Used for Industrial Solutions?</h2><hr>
        <h5>This article is on basic of Arduino</h5>
        <p class="card-text">
          The Arduino Uno R3 from Arduino is one of the most popular microcontrollers out there, and it boasts a large online community that has created thousands of projects. Whether you want to monitor temperature and humidity outside your house or have the Arduino control a robot to auto-balance itself, the Arduino has a versatile set that can be applied in many DIY applications. But how does Arduino work in industrial solutions?
        </p>
          <a href="https://www.arrow.com/en/research-and-events/articles/arduino-uno-r3-industrial-solutions" class="btn w3-red">Read More.</a>
      </div>
    </div>
</article>
</div>
<div class="col-md-6 col-sm-6 col-lg-6 col-12">
<article class="para w3-pale-red">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Ultrasonic Sensors: How They Work (and How to Use Them with Arduino)</h2><hr>
      <h5>All about Arduino, Sep 2, 2017</h5>
      <p>This article is on basic of Arduino ?</p>
      <p class="card-text">When you need input from the real world to your robot or data collection system, there are several options to choose from. This article is about ultrasonic sensor and implementation using Arduino.</p>
        
      <a href="https://www.arrow.com/research-and-events/articles/ultrasonic-sensors-how-they-work-and-how-to-use-them-with-arduino" class="btn w3-red">Read More.</a>
    </div>
  </div>
</article>
</div>


</div> <!--  row end -->
</div>  <!--  container end -->
<!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->

<div id="space">
</div>
<span id="articleH" class="d-block p-2 w3-red text-white text-monospace text-center" ><h3>Articles on PIC Microcontroller</h3></span>
<hr>
<div class="container-fluid">
  <div class="row">
  <div class="col-md-6 col-sm-6 col-lg-6 col-12">
    <article class="para w3-pale-red">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">What is PIC Microcontroller?</h2><hr>
          <h5>This article is on basic of microcontroller</h5>
          <p class="card-text">PIC is a family of microcontrollers made by Microchip Technology, derived from the PIC1650 originally developed by General Instrument's Microelectronics Division. The name PIC initially referred to Peripheral Interface Controller, and is currently expanded as Programmable Intelligent Computer.</p>
          
          <a href="https://www.elprocus.com/introduction-to-pic-microcontrollers-and-its-architecture/" class="btn w3-red">Read More.</a>
        </div>
      </div>
</article>
</div>
<div class="col-md-6 col-sm-6 col-lg-6 col-12">
  <article class="para w3-pale-red">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Features Of PIC Microcontroller?</h2><hr>
        <h5>This article is on basic of microcontroller</h5>
        <p class="card-text">Like all other microcontroller, PIC16F877A also provide built-in useful features as mentioned in this article</p>
        <a href="https://www.mikroe.com/ebooks/pic-microcontrollers-programming-in-c/pic16f887-basic-features" class="btn w3-red">Read More.</a>
      </div>
    </div>
</article>
</div>
<div class="col-md-6 col-sm-6 col-lg-6 col-12">
  <article class="para w3-pale-red">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">PIC in software programming</h2><hr>
        <p>This article is on basic of microcontroller</p>
        <p class="card-text">PICAXE is another platform that uses a Microchip Technology PIC MCU and is programmed in BASIC. The package is essentially a version of the PIC MCU family in a DIP IC that can be plugged into a breadboarding socket. It has been preprogrammed with firmware that allows the MCU to be programmed by way of IDE software on a PC. Connection is by way of a USB port on the PC. You can then add other interfaces such as sensors or controlled devices as your project dictates. </p>
        <a href="https://www.sciencedirect.com/science/article/pii/B9780128116418000138" class="btn w3-red">Read More.</a>
      </div>
    </div>
  </article>
</div>
<div class="col-md-6 col-sm-6 col-lg-6 col-12">
  <article class="para w3-pale-red">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">PIC Microcontroller vs Arduino</h2><hr>
        <p>This article is on basic of microcontroller</p>
        <p class="card-text">The working and architecture of Pic and Arduino have wide variations that are implied in a suitable environment according to the requirements. The key difference and comparison of Pic and Arduino such as definition, architecture, functions, applications, advantages, and limitations are explained in this article.</p>
        <a href="https://www.educba.com/pic-vs-arduino/" class="btn w3-red">Read More.</a>
      </div>
    </div>
</article>
</div>


</div> <!--  row end -->
</div>  <!--  container end -->


</section>
